/*common shared styles*/
body{
    font-family: 'Foldit', cursive;
font-family: 'Open Sans', sans-serif;
}
/*navigation related style*/
.mary{
    color: #FD6E0A;
}
.navigation-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.button-primary{
    background-color: #FD6E0A;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    color:#FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    text-align: center;
}
.web-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
nav> ul{
    display: flex;   
    align-items: center; 
}
ul> li{
    list-style: none;
    margin-right: 50px;
    color:#474747;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
/*Header relaed style*/
.header-top{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-main{
    padding: 50px 80px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.banner-img{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}
.banner-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-name{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}
.banner-details{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}