/*common shared styles*/
body{
    font-family: 'Foldit', cursive;
font-family: 'Open Sans', sans-serif;
}
/*navigation related style*/
.mary{
    color: #FD6E0A;
}
.navigation-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.button-primary{
    background-color: #FD6E0A;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    color:#FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    text-align: center;
}
.web-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
nav> ul{
    display: flex;   
    align-items: center; 
}
ul> li{
    list-style: none;
    margin-right: 50px;
    color:#474747;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
/*Header relaed style*/
.header-top{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-main{
    padding: 50px 80px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.banner-img{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}
.banner-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-name{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}
.banner-details{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/*Styles about main section */

/*Styles about me section included main section*/
.about-me{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 150px 130px;
}
.title{
    color:#181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-details{
    color:#757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.info-container{
        
        display: flex; 
        justify-content: space-around;
}
.info-c{
    color: #757575;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-right: 20px;
text-align: center;

}
.info-des{
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

/*Styles what i do section included main section*/
.wid-title{
    text-align: center;
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    padding: 10px 400px;
}
.wid-details{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 400px;
}
/*What i do started*/
.skill-container{
    display: flex;
    padding: 30px;
}
.skill-title{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.skill-description{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.skill{
    padding: 60px;
    gap: 30px;
    text-align: center;
    
}